<!DOCTYPE html>
<html ng-app='maguireApp'>

<head>
    <title>Maguire</title>
</head>

<body ng-controller='MaguireController'>
    <table>
        <tr>
            <td>Max hours:</td>
            <td>
                <input ng-model="maxHours" type="text">
            </td>
        </tr>
        <tr>
            <td>Hours so far:</td>
            <td>{{ accumulatedHours() }}</td>
        </tr>
        <tr>
            <td>Hours remaining:</td>
            <td>{{ hoursRemaining() }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Day</td>
            <td>Arrive</td>
            <td>Time Diff</td>
            <td>Lunch</td>
            <td>Time Diff</td>
            <td>Return</td>
            <td>Time Diff</td>
            <td>Leave</td>
            <td>Total Time</td>
            <td>Reg Time</td>
            <td>Overtime</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>
                <input type="text" ng-model="days.Sunday.arrive">
            </td>
            <td>{{ days.Sunday.morning() }}</td>
            <td>
                <input type="text" ng-model="days.Sunday.lunchStart">
            </td>
            <td>{{ days.Sunday.lunch() }}</td>
            <td>
                <input type="text" ng-model="days.Sunday.lunchEnd">
            </td>
            <td>{{ days.Sunday.afternoon() }}</td>
            <td>
                <input type="text" ng-model="days.Sunday.leave">
            </td>
            <td>{{ days.Sunday.total() }}</td>
            <td>{{ days.Sunday.regular() }}</td>
            <td>{{ days.Sunday.overtime() }}</td>
        </tr>
        <tr>
            <td>Monday</td>
            <td>
                <input type="text" ng-model="days.Monday.arrive">
            </td>
            <td>{{ days.Monday.morning() }}</td>
            <td>
                <input type="text" ng-model="days.Monday.lunchStart">
            </td>
            <td>{{ days.Monday.lunch() }}</td>
            <td>
                <input type="text" ng-model="days.Monday.lunchEnd">
            </td>
            <td>{{ days.Monday.afternoon() }}</td>
            <td>
                <input type="text" ng-model="days.Monday.leave">
            </td>
            <td>{{ days.Monday.total() }}</td>
            <td>{{ days.Monday.regular() }}</td>
            <td>{{ days.Monday.overtime() }}</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>
                <input type="text" ng-model="days.Tuesday.arrive">
            </td>
            <td>{{ days.Tuesday.morning() }}</td>
            <td>
                <input type="text" ng-model="days.Tuesday.lunchStart">
            </td>
            <td>{{ days.Tuesday.lunch() }}</td>
            <td>
                <input type="text" ng-model="days.Tuesday.lunchEnd">
            </td>
            <td>{{ days.Tuesday.afternoon() }}</td>
            <td>
                <input type="text" ng-model="days.Tuesday.leave">
            </td>
            <td>{{ days.Tuesday.total() }}</td>
            <td>{{ days.Tuesday.regular() }}</td>
            <td>{{ days.Tuesday.overtime() }}</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>
                <input type="text" ng-model="days.Wednesday.arrive">
            </td>
            <td>{{ days.Wednesday.morning() }}</td>
            <td>
                <input type="text" ng-model="days.Wednesday.lunchStart">
            </td>
            <td>{{ days.Wednesday.lunch() }}</td>
            <td>
                <input type="text" ng-model="days.Wednesday.lunchEnd">
            </td>
            <td>{{ days.Wednesday.afternoon() }}</td>
            <td>
                <input type="text" ng-model="days.Wednesday.leave">
            </td>
            <td>{{ days.Wednesday.total() }}</td>
            <td>{{ days.Wednesday.regular() }}</td>
            <td>{{ days.Wednesday.overtime() }}</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>
                <input type="text" ng-model="days.Thursday.arrive">
            </td>
            <td>{{ days.Thursday.morning() }}</td>
            <td>
                <input type="text" ng-model="days.Thursday.lunchStart">
            </td>
            <td>{{ days.Thursday.lunch() }}</td>
            <td>
                <input type="text" ng-model="days.Thursday.lunchEnd">
            </td>
            <td>{{ days.Thursday.afternoon() }}</td>
            <td>
                <input type="text" ng-model="days.Thursday.leave">
            </td>
            <td>{{ days.Thursday.total() }}</td>
            <td>{{ days.Thursday.regular() }}</td>
            <td>{{ days.Thursday.overtime() }}</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>
                <input type="text" ng-model="days.Friday.arrive">
            </td>
            <td>{{ days.Friday.morning() }}</td>
            <td>
                <input type="text" ng-model="days.Friday.lunchStart">
            </td>
            <td>{{ days.Friday.lunch() }}</td>
            <td>
                <input type="text" ng-model="days.Friday.lunchEnd">
            </td>
            <td>{{ days.Friday.afternoon() }}</td>
            <td>
                <input type="text" ng-model="days.Friday.leave">
            </td>
            <td>{{ days.Friday.total() }}</td>
            <td>{{ days.Friday.regular() }}</td>
            <td>{{ days.Friday.overtime() }}</td>
        </tr>
    </table>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="index.js"></script>
    <script src="maguireController.js"></script>
</body>

</html>
